@font-face {
    font-family: Montserrat-Medium; /* Имя шрифта */
    src: url(../fonts/Montserrat-Medium.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Montserrat-ExtraLight; /* Имя шрифта */
    src: url(../fonts/Montserrat-ExtraLight.ttf); /* Путь к файлу со шрифтом */
}